h1 {
    text-align: center;
    color: coral;
}
h2 {
    text-align: center;
    color: coral;
}
h3 { 
    text-align: center;
    color: coral;
}
p {
    text-align: center;
    color: coral;
}
button {
    background-color: black;
    border: none;
    color: coral;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
  }
body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
    background-image: url(AsgardFull.jpg);
    color: coral;
    font-size: larger;
}

